1. Write a Python function to find the maximum of three numbers.

In [ ]:
def find_maximum(a, b, c):
    return max(a, b, c)
num1 = 5
num2 = 12
num3 = 8

maximum = find_maximum(num1, num2, num3)
print(f"The maximum of {num1}, {num2}, and {num3} is {maximum}")

2. Write a Python function to sum all the numbers in a list.
Sample List : (8, 2, 3, 0, 7)

      Expected Output : 20

In [ ]:
def sum_list_numbers(numbers):
    return sum(numbers)

sample_list = [8, 2, 3, 0, 7]
result = sum_list_numbers(sample_list)
print(f"The sum of numbers in the list is: {result}")

The sum of numbers in the list is: 20

3. Write a Python function to multiply all the numbers in a list.
Sample List : (8, 2, 3, -1, 7)

        Expected Output : -336

In [ ]:

#Solution -2
def multiply(numbers):
    sample_list = 1
    for x in numbers:
        sample_list *= x
    return sample_list
print(multiply((8, 2, 3, -1, 7)))

-336

4. Write a Python program to reverse a string.

      Sample String : "1234abcd"

      Expected Output : "dcba4321"

In [ ]:
def reverse_string(input_string):
    return input_string[::-1]

sample_string = "1234abcd"
reversed_string = reverse_string(sample_string)
print(f"The reversed string is: {reversed_string}")

The reversed string is: dcba4321

5. Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

number = int(input("factorial"))
result = factorial(number)
print(f"The factorial of {number} is: {result}")

6. Write a Python function to check whether a number falls within a given range.

In [ ]:
def test_range(n):
    if n in range(5,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(4)

7. Write a Python function that accepts a string and counts the number of upper and lower case letters.
Sample String : 'The quick Brow Fox'
Expected Output :
No. of Upper case characters : 3
No. of Lower case Characters : 12

In [ ]:
def count_upper_lower(string):
    upper_count = 0
    lower_count = 0

    for char in string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count

sample_string = 'The quick Brow Fox'
upper, lower = count_upper_lower(sample_string)
print( 'The quick Brow Fox')
print(f"No. of Upper case characters : {upper}")
print(f"No. of Lower case characters : {lower}")

8. Write a Python function that takes a list and returns a new list with distinct elements from the first list.
Sample List : [1,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique_list(list):
  x = []
  for a in list:
    if a not in x:
      x.append(a)
  return x

print( unique_list([1,2,3,3,3,3,4,5]))

9. Write a Python function that takes a number as a parameter and checks whether the number is prime or not.
Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [ ]:
def test_prime(n):
    if n == 1:
        return False
    elif n == 2:
        return True
    else:
        for x in range(2, n):
            if n % x == 0:
                return False
        return True

number_check = int(input('Enter a number: '))
result = "a prime" if test_prime(number_check) else "not a prime"
print(f"{number_check} is {result} number.")

10. Write a Python program to print the even numbers from a given list.
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]

         Expected Result : [2, 4, 6, 8]

In [ ]:
def print_even_numbers(input_list):
    even_numbers = []
    for n in input_list:
        if n % 2 ==0:
            even_numbers.append(n)
    print(even_numbers)

sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print_even_numbers(sample_list)

11. Write a Python function to check whether a number is "Perfect" or not.
According to Wikipedia : In number theory, a perfect number is a positive integer that is equal to the sum of its proper positive divisors, that is, the sum of its positive divisors excluding the number itself (also known as its aliquot sum). Equivalently, a perfect number is a number that is half the sum of all of its positive divisors (including itself).
Example : The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.

In [ ]:
def perfect_number(num):
    return num == sum(i for i in range(1, num) if num % i == 0)

test_numbers = [6, 28, 496, 8128, 15, 30]
for num in test_numbers:
    if perfect_number(num):
        print(f"{num} is a perfect number.")
    else:
        print(f"{num} is not a perfect number.")

12. Write a Python function that checks whether a passed string is a palindrome or not.
Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.


13. Write a Python function that prints out the first n rows of Pascal's triangle.
Note : Pascal's triangle is an arithmetic and geometric figure first imagined by Blaise Pascal.

Sample Pascal's triangle :

Pascal's triangle
Each number is the two numbers above it added together

In [ ]:
def pascal_triangle(n):
   next_row = [1]
   y = [0]
   for x in range(max(n,0)):
      print(next_row)
      next_row=[l+r for l,r in zip(next_row+y, y+next_row)]
   return n>=1
pascal_triangle(5)

14. Write a Python function to check whether a string is a pangram or not.
Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
For example : "The quick brown fox jumps over the lazy dog"

In [ ]:
def is_pangram(s):
    alphabet = set("abcdefghijklmnopqrstuvwxyz")
    s = s.lower()
    return set(s).issuperset(alphabet)

print(is_pangram('The quick brown fox jumps over the lazy dog'))

15. Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.
Sample Items : green-red-yellow-black-white
Expected Result : black-green-red-white-yellow

In [ ]:
def main():
    # Accept input from the user
    input_sequence = input("Enter a hyphen-separated sequence of words: ")

    # Split the input sequence into a list of words
    words = input_sequence.split('-')

    # Sort the list of words alphabetically
    words.sort()

    # Join the sorted words back into a hyphen-separated sequence
    sorted_sequence = '-'.join(words)

    # Print the sorted sequence
    print("Sorted sequence:", sorted_sequence)

if __name__ == "__main__":
    main()

16. Write a Python function to create and print a list where the values are the squares of numbers between 1 and 30 (both included).

In [ ]:
def generate_square_list():
	square_list  = list()
	for i in range(1,31):
		square_list.append(i**2)
	print(square_list)

generate_square_list()

17. Write a Python program to create a chain of function decorators (bold, italic, underline etc.).

In [ ]:
def format_decorator(tag):
    def decorator(func):
        return lambda *args, **kwargs: f"<{tag}>{func(*args, **kwargs)}</{tag}>"
    return decorator

bold = format_decorator("b")
italic = format_decorator("i")
underline = format_decorator("u")

@underline
@italic
@bold
def greet(name):
    return f"Hello, {name}!"

def main():
    name = input("Enter your name: ")
    formatted_greeting = greet(name)
    print("Formatted greeting:", formatted_greeting)

if __name__ == "__main__":
    main()

18. Write a Python program to execute a string containing Python code.

In [ ]:
python_code = 'print("hello world")'
code = """
def mutiply(x,y):
    return x*y

print('Multiply of 5 and 3 is: ',mutiply(5,3))
"""
exec(python_code)
exec(code)

19. Write a Python program to access a function inside a function.

In [ ]:
def outer_function():
    print("This is the outer function")

    def inner_function():
        print("This is the inner function")

    # Call the inner function
    inner_function()

# Call the outer function
outer_function()

20. Write a Python program to detect the number of local variables declared in a function.
Sample Output:
3

In [ ]:
def my_function():
    a = 10
    b = "Hello"
    c = [1, 2, 3]
    count = len(locals())
    return count

result = my_function()
print(result)

#Opps assignment solution

In [ ]:
# Question-1

# Problem 1
# Product
  # attr - name, price
# Shopping_cart
  # attr - products = []
  # methods - add_product, calc_bill

In [ ]:
class Product:
    def __init__(self, name, price):
        self.name = name
        self.price = price

class ShoppingCart:
    def __init__(self):
        self.products = []

    def add_product(self, product):
        self.products.append(product)

    def calc_bill(self):
        total_price = sum(product.price for product in self.products)
        return total_price

product1 = Product("Item 1", 100)
product2 = Product("Item 2", 250)

cart = ShoppingCart()
cart.add_product(product1)
cart.add_product(product2)

total_bill = cart.calc_bill()
print(f"Total bill: Rs.{total_bill}")

In [ ]:
#question-2

# Problem 2
# Imaginary (x+iy)
  # attr - x, y
  # methods -

In [ ]:
class Imaginary:
    def __init__(self, x, y):
        self.x, self.y = x, y

    def __str__(self):
        return f"{self.x} + {self.y}i" if self.y >= 0 else f"{self.x} - {-self.y}i"

    def add(self, other):
        return Imaginary(self.x + other.x, self.y + other.y)

    def subtract(self, other):
        return Imaginary(self.x - other.x, self.y - other.y)

num1 = Imaginary(3, 2)
num2 = Imaginary(1, -4)

sum_result = num1.add(num2)
difference_result = num1.subtract(num2)

print(f"Num1: {num1}")
print(f"Num2: {num2}")
print(f"Sum: {sum_result}")
print(f"Difference: {difference_result}")

In [ ]:
#Question -3

# Problem 3
# library
  # attr - books
  # method - available, add_book, remove_book
# student
  # attr - name, class, books_issued
  # method - issue_book, return_book

In [ ]:
class Library:
    def __init__(self):
        self.books = []

    def available(self):
        return self.books

    def add_book(self, book):
        self.books.append(book)

    def remove_book(self, book):
        self.books.remove(book) if book in self.books else print(f"{book} is not in the library.")

class Student:
    def __init__(self, name, student_class):
        self.name, self.student_class, self.books_issued = name, student_class, []

    def issue_book(self, library, book):
        self.books_issued.append(book)
        print("Book issued")

    def return_book(self, library, book):
        self.books_issued.remove(book)
        print("Book returned")
library = Library()
library.add_book("Book 1")
library.add_book("Book 2")
library.add_book("Book 3")

student1 = Student("Alice", "Class A")
student2 = Student("Bob", "Class B")

student1.issue_book(library, "Book 1")
student2.issue_book(library, "Book 2")

student1.return_book(library, "Book 1")

#Practice

In [ ]:
from time import sleep
import math
def delayed_function_call(function, args, delay_ms):
  sleep(delay_ms / 1000)
  return function(*args)
print("Square root after specific miliseconds:")
print(delay(lambda x: math.sqrt(x), 100, 16))
print(delay(lambda x: math.sqrt(x), 1000, 100))
print(delay(lambda x: math.sqrt(x), 2000, 25100))

Here's an example of how to define a simple class in Python:

In [ ]:
class cat:
   def __init__(self,name,age):
         self.name = name
         self.age = age
   def bark(self):
       return "Miu! Miu!"

   def get_age(self):
       return self.age

   def set_age(age, new_age):
       self.age = new_age

cat1=cat("coco", 4)
print(cat1.name)
print(cat1.bark())
cat2 = cat("kiki",2)
print(cat2.get_age())
cat2.set_age(6)
print(cat2.get_age())

In [ ]:
cat1=cat("coco", 4)
print(cat1.name)
print(cat1.bark())
cat2 = cat("kiki",2)
print(cat2.get_age())
cat2.set_age(6)
print(cat2.get_age())

practice

Write a program to create a function that takes two arguments, name and age, and print their value.

In [ ]:
def dashrath(name,age):
    print(name,age)

In [ ]:
dashrath('dk',19)

In [ ]:
def fruits( self,name,color):
    self.name=[ 'mango']
    self.color=['yellow']
    print(self.name + self.color)

In [ ]:
print('fruits')

Write a program to create function func1() to accept a variable length of arguments and print their value.

In [ ]:
def func(*lenght):
    for i in lenght:
      print(i)

In [ ]:
func(20,30)
func(10,20,30,30,40)

Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [ ]:
def calculation(a,b):
    addition=a + b
    subtraction = a - b
    multiplay = a * b
    div = a/b
    return addition , subtraction,multiplay,div

res = calculation(20,40)
print(res)

Write a program to create a function show_employee() using the following conditions.

It should accept the employeeâ€™s name and salary and display both.

If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def show_employee(name,salary=9000):
    print("Name:",name,"salary:",salary)

show_employee("jammy",12000)
show_employee("jessa")

Exercise 5: Create an inner function to calculate the addition in the following way

Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [ ]:
def outer_fun(a, b):
    square = a ** 2

    def addition(a, b):
         return a + b

    add = addition(a, b)
    return add + 5

result = outer_fun(5, 10)
print(result)

Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

In [ ]:
def sum_of_number(num):
    if num:
      return num + sum_of_number(num - 1)
    else:
        return 0

res = sum_of_number(10)
print(res)

Exercise 7: Assign a different name to function and call it through the new name

|Below is the function display_student(name, age). Assign a new name show_tudent(name, age) to it and call it using the new name.

In [ ]:
def display_student(name,age):
    print(name , age)

display_student("dk",19)

show_student = display_student
show_student("dky",19)

Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
print(list(range(4,30,2)))

In [ ]:
print(list(range(3,50,5)))

Exercise 9: Find the largest item from a given list

x = [4, 6, 8, 24, 12, 2]

In [ ]:
x = [4,6,8,24,12,2]
print(max(x))

Exercise 1: Calculate the multiplication and sum of two numbers
Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

In [ ]:
 def multi_or_sum(num1,num2):
     prod = num1 * num2
     if prod >=1000:
        return prod

     else:
      return num1 + num2

result = multi_or_sum(20,30)
print(result)

result =multi_or_sum(40,50)
print(result)

Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [ ]:
print("printing currunt  and prevarious number sum in range:10 ")
previous_num = 0
for i in range(1,11):
    x_sum = previous_num + i
    print("current_value",i,"prevarious_value",previous_num,"sum:",x_sum)

    previous_num = i

In [ ]:
word = input("Enter word")
print("origanal string",word)

size=len(word)
print("printing only even index chart")
for i in range(0,size-1,2):
  print("index[",i,"]",word[i])

In [ ]:
#intro to numpy

#Array
import numpy as np
np.array([1,2,3,4])

In [ ]:
import pandas as pd
sex =pd.Series(['male','female','male'])
np.array(sex)

In [ ]:
#linspace
np.linspace(10,100,10)

In [ ]:
#arange
np.arange(5,10,2)

In [ ]:
#Uniform samples
np.random.uniform(5,10,size=4)

In [ ]:
np.random.uniform(size=5)

In [ ]:
#random.randint
np.random.randint(5,10,5)

In [ ]:
#Random.random
np.random.random(3)

In [ ]:
#Logspace
np.logspace(0,10,5, base=3)

In [ ]:
#array of ones
np.ones((3,4))

In [ ]:
#array of k random values
np.full((2,4),fill_value=2)

In [ ]:
#Identity
np.identity(4)

In [ ]:




#array operation
arr =np.array([1,2,3,4,5,5,6,7,6])

#min
print("\nMin.")
np.min(arr)

#max
print('\nmax')
np.max(arr)

#unique
print("\nunique")
np.unique(arr,return_counts=True)

#mean
print('\nMean')
np.mean(arr)

#median
print("Median")
np.median(arr)

#Digitize
a = np.array([-0.9,0.8,1,4.5,6.4,5.4])
bins=np.array([0,1,2,3,4])
np.digitize(a,bins)

In [ ]:
#reshap
A  = np.random.randint(15,size=(4,3))
A

In [ ]:
A.reshape(3,4)

In [ ]:
A.reshape(-1)

In [ ]:
#Expand demensions
arr  = np.array([8 ,14, 1, 8, 11, 4, 9, 1, 13, 11, 1])
np.expand_dims(arr, axis=0)

In [ ]:
np.expand_dims(arr, axis=1)

In [ ]:
#Squeeze
arr = np.array([[1], [3], [14],[11],[8],[11],[4],[9],[12],[13],[11]])
np.squeeze(arr)

In [ ]:
#count non-zero
a = np.array([0,2,0,7,8,5,0])
np.count_nonzero(a)

In [ ]:
#sort
arr = np.array([2,3,5,7,5,3,2])
np.sort(arr)

In [ ]:
#abs
arr = np.array([[2,-5,4],[-6,-4,-8]])
np.abs(arr)

In [ ]:
#put
arr = np.array([1,2,3,4,5,6])
arr

In [ ]:
np.put(arr,[1,4],[6,7])
arr

In [ ]:
#repeat
np.repeat('2017',3)

In [ ]:
#tile
np.tile('ram',4)

In [ ]:
import numpy as np
full_array_2d = np.full((3,4),5)
print(full_array_2d)

In [ ]:
#create empty array
emm=np.empty((3,4),dtype =int)
print("Empty array")
print(emm)

#create a full array
filla = np.full([3,3],55,dtype=int)
print("\nfull array")
print(filla)

In [ ]:
#create empty array
empa = np.empty([3,3])
print("Empty array")
print(empa)

#create full array
fila=np.full([5,3],9.9)
print("\nFull array")
print(fila)

In [ ]:
#python program to create arrar with all zeros
import numpy as geek
a=geek.zeros(3,dtype=int)
print("matrix a:\n",a)

b=geek.zeros([3,3],dtype=int)
print("\nMatrix b: \n",b)

In [ ]:
# Python Program to create array with all ones
import numpy as geek

a = geek.ones(4, dtype = int)
print("Matrix a : \n", a)

b = geek.ones([4, 4], dtype = int)
print("\nMatrix b : \n", b)

In [ ]:
c = geek.ones([3,4])
print("\nMatrix  c: \n ",c)

d =geek.ones([5,2],dtype=float)
print("\nMatrix d: \n",d)

In [ ]:
# importing package
import numpy

# create numpy array
array = numpy.array([[1, 2, 3, 4, 5],
				[6, 7, 8, 9, 10],
				[11, 12, 13, 14, 15],
				[16, 17, 18, 19, 20]
				])

# view array
print(array)

# check for some lists
print([1, -2, 3, 4, 5] in array.tolist())
print([16, 17, 20, 19, 18] in array.tolist())
print([6, 7, 8, 9, 10] in array.tolist())
print([11, 12, 13, 14, 15] in array.tolist())

In [ ]:
#importing numpy as library
import numpy as np

#create 1d array with even no of
#elements

x_even = np.array([1,2,3,4,5,6,7])
print("\nPrinting the Orignal array")
print(x_even)

#calcultion the median
med_even = np.median(x_even)
print("\nMedian of the array that contain\ even no of elements:")
print(med_even)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#create another sales dataframe
dicts ={'Home':['badroom','bathroom','kitchen','Holl'],
        'Badroom':['fan','bad','door','ac'],
       'kitchan':[1,2,3,4],
       'Holl':[11,22,54,66]}

dicts

In [ ]:
df=pd.DataFrame(dicts)
print(df)

In [ ]:
# Create a dictionary to store account information (replace with a database in a real application)
accounts = {
    '1234': {
        'pin': '1234',
        'balance': 1000.0,
    },
    # Add more accounts as needed
}

# Function to check balance
def check_balance(account):
    return account['balance']

# Function to withdraw money
def withdraw(account, amount):
    if amount > 0 and account['balance'] >= amount:
        account['balance'] -= amount
        return True
    else:
        return False

# Function to deposit money
def deposit(account, amount):
    if amount > 0:
        account['balance'] += amount
        return True
    else:
        return False

# Function to display menu and get user input
def main():
    while True:
        pin = input("Enter your PIN: ")
        if pin in accounts:
            account = accounts[pin]
            while True:
                print("\n1. Check Balance")
                print("2. Withdraw")
                print("3. Deposit")
                print("4. Exit")
                choice = input("Select an option (1/2/3/4): ")

                if choice == '1':
                    print(f"Your balance is: ${check_balance(account):.2f}")
                elif choice == '2':
                    amount = float(input("Enter the amount to withdraw: $"))
                    if withdraw(account, amount):
                        print(f"Withdrew ${amount:.2f}")
                    else:
                        print("Insufficient funds or invalid amount.")
                elif choice == '3':
                    amount = float(input("Enter the amount to deposit: $"))
                    if deposit(account, amount):
                        print(f"Deposited ${amount:.2f}")
                    else:
                        print("Invalid amount.")
                elif choice == '4':
                    print("Exiting...")
                    break
                else:
                    print("Invalid choice. Please select a valid option.")
        else:
            print("Invalid PIN. Please try again.")

if __name__ == "__main__":
    main()